aiofiles
aiohappyeyeballs
aiohttp
aiosignal
alembic
annotated-types
anyio
appdirs
asgiref
asttokens
async-timeout
attrs
auth0-python
backoff
bcrypt
beautifulsoup4
blinker
build
cachetools
certifi
cffi
charset-normalizer
chroma-hnswlib
chromadb
click
cohere
coloredlogs
crewai
crewai-tools
cryptography
dataclasses-json
decorator
Deprecated
deprecation
distro
docker
docstring_parser
durationpy
embedchain
et_xmlfile
exceptiongroup
executing
faiss-cpu
fastapi
fastavro
ffmpy
filelock
flatbuffers
frozenlist
fsspec
google-auth
googleapis-common-protos
gptcache
gradio
gradio_client
groovy
grpcio
gTTS
h11
h2
hpack
httpcore
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
hyperframe
idna
importlib_metadata
importlib_resources
iniconfig
instructor
ipython
jedi
Jinja2
jiter
joblib
json5
json_repair
jsonpatch
jsonpickle
jsonpointer
jsonref
jsonschema
jsonschema-specifications
kubernetes
lancedb
langchain
langchain-cohere
langchain-community
langchain-core
langchain-experimental
langchain-huggingface
langchain-openai
langchain-pinecone
langchain-tests
langchain-text-splitters
langsmith
litellm
llvmlite
Mako
markdown-it-py
MarkupSafe
marshmallow
matplotlib-inline
mdurl
mem0ai
mmh3
monotonic
more-itertools
mpmath
multidict
mypy_extensions
networkx
nltk
nodeenv
numba
numpy
oauthlib
ollama
onnxruntime
openai
openai-whisper
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
overrides
packaging
pandas
parso
pdfminer.six
pdfplumber
pexpect
pillow
pinecone
pinecone-plugin-interface
pinecone-text
pluggy
portalocker
posthog
prompt_toolkit
propcache
protobuf
ptyprocess
pure_eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
pydub
Pygments
PyJWT
pypdf
pypdfium2
PyPika
pyproject_hooks
pyright
pysbd
pytest
pytest-asyncio
pytest-socket
python-dateutil
python-dotenv
python-multipart
pytube
pytz
pyvis
PyYAML
qdrant-client
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rich
rpds-py
rsa
ruff
safehttpx
safetensors
schema
scikit-learn
scipy
semantic-version
sentence-transformers
shellingham
six
sniffio
soupsieve
SQLAlchemy
stack-data
starlette
sympy
syrupy
tabulate
tenacity
threadpoolctl
tiktoken
tokenizers
tomli
tomli_w
tomlkit
torch
tqdm
traitlets
transformers
typer
types-requests
typing-inspect
typing-inspection
typing_extensions
tzdata
urllib3
uv
uvicorn
uvloop
watchfiles
wcwidth
websocket-client
websockets
wrapt
yarl
zipp
zstandard
